<div id="header" height="400px" style="background-color: #424242">
<h1 style="font-family: Futura; color: white">Create Original Content</h1>
</div>

<%= render 'form' %>



<%= link_to 'Show', @new_tile %> |
<%= link_to 'Back', "/new_tiles" %>