<p id="notice"><%= notice %></p>

<strong> <%= link_to 'View Tile', @new_tile.output_image_url %> </strong>
<p>

<%= link_to 'Edit', edit_new_tile_path(@new_tile) %> |
<%= link_to 'Back', new_tiles_path %>
